.contacts {
  background-color: #065a97;
  color: #fff;

  p {
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    transition: 0.8s ease;

    &:hover {
      color: @yellow;
      text-decoration: none;
      border-bottom: 1px dotted @yellow;
    }
  }
}

.contacts-desc {
  margin-bottom: 30px;
}
