*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  -webkit-transform: none;
          transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  height: 100%;
  min-width: 320px;
  color: #fff;
  overflow-x: hidden;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: "Noto Sans";
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #4f4f4f;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
.name {
  font-size: 18px;
  color: #000;
  margin-bottom: 22px;
}
a:hover,
focus {
  text-decoration: none;
  color: #0052c2;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
.navigation {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  top: 51px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .navigation {
    position: absolute;
  }
}
.navigation .navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  top: 23px;
  right: 16px;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 768px) {
  .navigation .navigation__toggle {
    display: none;
  }
}
.navigation .navigation__toggle--fixed {
  position: fixed;
}
.navigation ul.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(11, 81, 136, 0.95);
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
    top: 60;
  }
}
.navigation ul.navigation__list--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation ul.navigation__list li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 100px;
  }
  .navigation ul.navigation__list li:last-child {
    margin-right: 0;
  }
}
.navigation a {
  color: #FFF;
  text-decoration: none;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffe400;
}
.user-photo {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  border-radius: 80px;
  background-image: url("../img/placeholders/user-avatar-placeholder-small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.user-photo-shadow {
  -webkit-box-shadow: 0px 0px 40px 0px #48779f;
          box-shadow: 0px 0px 40px 0px #48779f;
}
.user-photo--big {
  max-width: 100%;
  height: auto;
  border-radius: 110px;
  background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
}
@media (min-width: 1200px) {
  .user-photo--big {
    width: 205px;
    height: 205px;
  }
}
.section {
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 74px;
    padding-bottom: 90px;
  }
}
.section--padding-smaller {
  padding-top: 30px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section--padding-smaller {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--padding-smaller {
    padding-top: 65px;
    padding-bottom: 67px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #e9eff3;
}
.section--bg-laptop {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-laptop {
    background-image: url('../img/bg/laptop.png');
  }
}
.section--bg-gear {
  background-repeat: no-repeat;
  background-position: left 55%;
}
@media (min-width: 1500px) {
  .section--bg-gear {
    background-image: url('../img/bg/gear.png');
  }
}
.section--bg-cloud {
  background-repeat: no-repeat;
  background-position: right 70%;
}
@media (min-width: 1500px) {
  .section--bg-cloud {
    background-image: url('../img/bg/cloud.png');
  }
}
.heading {
  font-size: 32px;
  color: #0052c2;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .heading {
    font-size: 42px;
  }
}
.heading--medium {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  margin-bottom: 22px;
}
.heading-resume {
  margin-bottom: 35px;
}
.heading--center {
  text-align: center;
}
.heading--white {
  color: #fff;
}
.heading--padding-top {
  padding-top: 17px;
}
p.skills {
  line-height: 26px;
  margin: 0;
}
.definition-list {
  margin: 0 0 43px;
  padding: 0;
  list-style-type: none;
}
.definition-list__item {
  margin: 0 0 13px;
  padding: 0;
}
.definition-list__def {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #0052c2;
  text-transform: uppercase;
}
.definition-list__def--light {
  color: #a2d1f4;
}
.definition-list__def--bigger {
  font-size: 16px;
}
.definition-list__desc {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .definition-list__desc {
    font-size: 14px;
  }
}
.definition-list__desc p {
  margin-bottom: 23px;
}
.button {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 11px 26px 14px;
  border-radius: 60px;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: #fd3a3a;
  -webkit-box-shadow: 0px 7px 70px -12px #f95b3c;
          box-shadow: 0px 7px 70px -12px #f95b3c;
}
.button:hover {
  border: 1px solid #f95b3c;
  text-shadow: none;
  color: #fff;
  background-color: #f95b3c;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button:hover a {
  text-decoration: none;
}
.button:active {
  color: #ffe400;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}
.button .fa {
  font-size: 18px;
  margin-right: 5px;
}
.filter-block {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 7px;
  padding-bottom: 15px;
  color: #000;
}
@media (min-width: 992px) {
  .filter-block {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .filter-block {
    padding-top: 15px;
    padding-bottom: 50px;
  }
}
.filter-block__block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
@media (min-width: 768px) {
  .filter-block__block {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .filter-block__block {
    padding-bottom: 0;
  }
}
.filter-block__element {
  margin: 0;
  padding: 0;
  display: block;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .filter-block__element {
    margin-right: 0px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block__element {
    margin-right: 15px;
  }
  .filter-block__element:last-shild {
    margin-right: 0;
  }
}
.filter-block__button {
  display: inline-block;
  color: #CECECE;
  padding: 12px 31px 15px;
  cursor: pointer;
}
.filter-block__button:hover {
  color: #000;
  -moz-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
}
.filter-block__button:active {
  cursor: pointer;
  display: inline-block;
  padding: 10px 29px 13px;
  color: #000;
  border: 2px solid #0052c2;
}
.filter-block__button--active {
  cursor: pointer;
  display: inline-block;
  padding: 10px 29px 13px;
  color: #000;
  border: 2px solid #0052c2;
}
.filter-block__button.filter.active {
  padding: 10px 29px 13px;
  color: #000;
  border: 2px solid #0052c2;
}
#portfolio-projects {
  text-align: center;
}
@media (min-width: 768px) {
  #portfolio-projects {
    text-align: left;
  }
}
#portfolio-projects .mix {
  display: none;
  text-align: left;
}
.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 360px;
}
.portfolio-item__image {
  position: relative;
  display: block;
  margin-bottom: 15px;
  background-image: url('../img/placeholders/project_placeholder.jpg');
  background-repeat: none;
  background-position: center;
  background-size: cover;
  max-height: 250px;
  overflow: hidden;
}
.portfolio-item__image .portfolio-item_image img {
  min-height: 190px;
}
@media (min-width: 992px) {
  .portfolio-item__image .portfolio-item_image {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image .portfolio-item_image {
    height: 250px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.portfolio-item__image__hover {
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  padding-top: 60px;
  font-size: 26px;
  color: #fff;
  background-color: rgba(0, 82, 194, 0.9);
  -webkit-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
.portfolio-item__image__hover .fa {
  position: absolute;
  font-size: 64px;
  margin-bottom: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__image__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover .fa {
    font-size: 64px;
    position: static;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
.portfolio-item__image__hover span {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__image__hover span {
    display: inline-block;
  }
}
.portfolio-item__image:hover .portfolio-item__image__hover {
  display: block;
  top: 0%;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .portfolio-item__title {
    font-size: 24px;
  }
}
.portfolio-item__title a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:focus,
.portfolio-item__title a:active {
  color: #0052c2;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
  }
  .portfolio-item__title a:hover,
  .portfolio-item__title a:focus,
  .portfolio-item__title a:active {
    border-bottom: 1px dotted #0052c2;
  }
}
.portfolio-item__description {
  font-size: 14px;
  line-height: 1.42;
  color: #000;
}
@media (min-width: 992px) {
  .portfolio-item__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
.skills p {
  margin: 0;
}
.contact-form__input {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 19px;
  border: none;
  border-radius: 8px;
  background-color: #a2d1f4;
  border: 3px solid #fff;
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
  outline: none;
}
.contact-form__input:hover,
.contact-form__input:active,
.contact-form__input:focus {
  border: 3px solid #a2d1f4;
}
.contact-form__input--half-width {
  float: left;
  width: 49%;
  margin-right: 2%;
}
.contact-form__input--half-width:last-of-type {
  margin-right: 0;
}
.contact-form__textarea {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 128px;
  margin-bottom: 10px;
  padding: 10px 19px;
  border: none;
  border-radius: 8px;
  background-color: #a2d1f4;
  border: 3px solid #fff;
  -webkit-transition: border-color 0.3s ease-in;
  transition: border-color 0.3s ease-in;
  outline: none;
}
.contact-form__textarea:hover,
.contact-form__textarea:active,
.contact-form__textarea:focus {
  border: 3px solid #a2d1f4;
}
@media (min-width: 1200px) {
  .contact-form__bg-pencil {
    position: relative;
  }
  .contact-form__bg-pencil:after {
    position: absolute;
    content: '';
    left: 75%;
    top: 75%;
    display: block;
    width: 203px;
    height: 153px;
    background-image: url('../img/bg/pencil.png');
    background-repeat: no-repeat;
    background-position: left top;
    overflow-x: hidden;
  }
}
.contact-form__submit {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 47px 12px;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 80px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none;
}
@media (min-width: 768px) {
  .contact-form__submit {
    font-size: 20px;
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .contact-form__submit {
    font-size: 22px;
    width: auto;
  }
}
.contact-form__submit:hover,
.contact-form__submitfocus {
  color: #065a97;
  background-color: #fff;
  border-color: #a2d1f4;
}
.contact-form__submit:active {
  color: #ffe400;
  border-color: #ffe400;
  background-color: transparent;
}
label.error {
  position: relative;
  background-color: #ad1457;
  display: block;
  border-radius: 8px;
  color: #fff;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
}
label.error:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 40px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #ad1457;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
.contact-form__success {
  position: relative;
  background-color: #fff;
  display: block;
  border-radius: 8px;
  color: #4caf50;
  padding: 5px 15px 8px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 2px;
  font-size: 20px;
}
.cmn-toggle-switch {
  font-size: 0;
  position: absolute;
  z-index: 5;
  top: 23px;
  right: 16px;
  display: block;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  position: relative;
  display: table;
  width: 100%;
  height: 390px;
  background-color: #176cad;
  background-image: url("../img/bg/bg-10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 51px;
}
@media (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
  text-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
  }
}
.header__subtitle {
  font-family: "Noto Sans";
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
  padding-bottom: 60px;
}
.header__centered-content {
  display: inline-block;
  margin-top: -100px;
}
@media (min-width: 768px) {
  .header__centered-content {
    margin-top: -100px;
  }
}
@media (min-width: 1200px) {
  .header__centered-content {
    margin-top: -200px;
  }
}
.contacts {
  background-color: #1A2B5E;
  color: #fff;
}
.contacts p {
  color: #fff;
}
.contacts a {
  color: #337ab7;
  text-decoration: none;
  border-bottom: 1px dotted #ffe400;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}
.contacts a:hover {
  color: #ffe400;
  text-decoration: none;
  border-bottom: 1px dotted #ffe400;
}
.contacts-desc {
  margin-bottom: 30px;
}
.copyright {
  background-color: #09153c;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 40px;
  padding-bottom: 40px;
}
.copyright p {
  color: #5e92b9;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 10px;
}
.copyright p,
.copyright a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.copyright p.copyright__label {
  color: #82b3d7;
  font-size: 16px;
}
.copyright p:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */