.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 11px 26px 14px;
  border-radius: 60px;
  border: 1px solid transparent;
  transition: all 0.4s linear;
  background-color: #3ab5fd;

  &:hover {
    border: 1px solid rgba(3, 92, 216, 0.876);
    text-shadow: none;
    color: #fff;
    background-color: rgba(3, 92, 216, 0.876);
    box-shadow: none;
    box-shadow: 0px 7px 70px -12px rgba(3, 92, 216, 0.876);

    a {
      text-decoration: none;
    }
  }

  &:active {
    color: #ffe400;
    border-color: #fff;
    box-shadow: none;
    background-color: transparent;
  }

  .fa {
    font-size: 18px;
    margin-right: 5px;
  }
}
