.definition-list {
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    margin: 0 0 43px;
  }
}

.definition-list__item {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    margin: 0 0 13px;
  }
}

.definition-list__def {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: @blueHeading;
  text-transform: uppercase;
}

.definition-list__def--light {
  color: #a2d1f4;
}

.definition-list__def--bigger {
  font-size: 16px;
}

.definition-list__desc {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #010101;

  @media (min-width: 768px) {
    font-size: 14px;
  }
  a {
    text-decoration: underline;
    color: #010101;

    &:hover {
      color: #c0c0c0;
    }
  }
}
.definition-list__desc p:hover {
  color: #c0c0c0;
}

.definition-list__desc p {
  margin-bottom: 23px;
  line-height: 20px;

  @media (min-width: 1200px) {
    line-height: 22px;
  }
}
